{% extends 'header.html.twig' %}
{% block stylesheets %}
	<link href="{{asset("assets/css/apropos.css")}}" rel="stylesheet">
{% endblock %}
{% block title %}HollyFx - A Propos
{% endblock %}

{% block body %}
	<div class="divGlobal roboto">
		<img class="imgPropos" src="{{asset("assets/img/sara.png")}}" alt="">
		<p class="up">
			<span class="title">QUI SUIS-JE ?</span><br><br>

			Je m'appelle Sara, je suis une jeune make-up artist diplômée de l’école Métamorphose de Strasbourg.<br><br>

			J'ai obtenu mes certificats de «Maquillage professionnel» en 2018, puis ceux d'«Effets spéciaux Ultimate FX» et «Perruques et Postiches» en 2019.<br><br>

			Ce cursus a été l'occasion de suivre des stages spécifiques avec :<br><br>
			- L’artiste canadienne Jinny
			<br><br>
			- L'italien Matteo Arfanotti, champion du monde de body painting. 
			<br><br>
			- Nick Wolfe, artiste reconnu de sa génération
			<br><br>
			- Jordu Schell, réalisateur de créatures des films Men In Black, Predator, Avatar, Hellboy...
			<br><br>
			- Et plein d'autres (Max Herlant, Houyam Hajlaoui, Gilles Paillet,....)<br><br>
		</p>

	</div>
	<div class="divGlobal roboto">
		<p class="down">
			Afin de pourvoir m'installer en tant qu'auto-entrepreneuse, j'ai passé mon CAP Esthétique en 2020 en candidat libre en parallèle de mon activité de maquilleuse .<br><br>

			Spécialisée dans les effets spéciaux de maquillage, je réalise aussi bien des maquillages beauté, mode, théâtre ou artistique.
			<br>
			Mes compétences en coiffures extravagantes perruques, coiffes et postiches viennent compléter mes créations.
			<br>
			Mon savoir-faire en sculpture et moulage me permet, également , de créer vos décorations, figurines et objets les plus fous!<br><br>

			A très bientôt pour réaliser un de vos projets!
			<br>
		</p>
	</div>
{% endblock %}
