body {
  background-color: black;
}
.divglobal {
  padding: 70px 0;
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  color: white;
}

.divChild {
  width: 50%;
}
.divTitle {
  font-weight: 500;
  font-size: 35px;
}
.divContent {
  display: flex;
  flex-direction: row;
}

.divContent p {
  font-weight: 300;
  font-size: 30px;
}

.divContent i {
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2%;
}
.divContent a {
  text-decoration: none;
  color: white;
}

.formInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.formButton{
  background-color: #bd8433;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.formButton:hover{
  background-color: #7c3d1f;
}

@media (max-width: 1200px) {
  .divglobal {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .divChild {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .divContent {
    text-align: center;
    justify-content: center;
  }
}
