html,
body {
    margin: 0;
    height: 100%;
    /*overflow: hidden;*/
}

body {
    background-image: url("/assets/img/background-home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.divglobal {
    padding: 70px 0;
    margin: auto;
    width: 70%;
    text-align: center;
    color: white;
}


.divTitle {
    font-weight: 500;
    font-size: 35px;
}
#contact{
    display: flex;
    flex-flow: row wrap;
}

#contact_fullName{
    width: 100%;
}
#contact_email{
    width: 50%;
}
#contact_phoneNumber{
    width: 50%;
}


.divContent {
    display: flex;
    flex-direction: row;
}

.divContent p {
    font-weight: 300;
    font-size: 30px;
}

.divContent i {
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
}

.divContent a {
    text-decoration: none;
    color: white;
}

.formInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formButton {
    background-color: #bd8433;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.formButton:hover {
    background-color: #7c3d1f;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.footer a:hover{
    color: #ebaa30;
}
.iconInsta{
    font-size: 30px;
}
.footer div {
    margin: 30px;

}

@media (max-width: 1200px) {
    .divglobal {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .divChild {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .divContent {
        text-align: center;
        justify-content: center;
    }
}
