body {
  margin: 0;
}
a{
  text-decoration: none;
}
.header_main {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
}
.header_div_logo {
  padding-left: 5%;
  width: 20%;
}
.header_logo {
  width: 30%;
}
.header_div_menu {
  width: 80%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.linkAccueil {
  margin-left: 5%;
}
.linkAccueilText {
  font-size: 20px;
  font-weight: 300;
  color: white;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nbItem{
  margin-left: 3px;
}
.linkAccueilText:hover {
  color: #ebaa30;
}

.icon {
  display: none;
  text-decoration: none;
}
#mark{
  display: none;
}

@media (max-width: 700px) {
  /* Style the navigation menu */
  .header_main {
    overflow: hidden;
    position: relative;
    flex-direction: column;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .header_div_menu {
    display: none;
    margin: 0;
  }
  .header_logo {
    display: none;
  }
  .iconBurger{
    height: 40px;
  }

  /* Style navigation menu links */
  .linkAccueil {
    padding: 14px 16px;
    display: block;
  }

  .icon {
    display: block;
    position: absolute;
    font-size: 30px;
    right: 10px;
    top: 10px;
    color: white;
  }
}
