body {
  margin: 0;
}
.header_main {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
}
.header_div_logo {
  padding-left: 5%;
  width: 30%;
}
.header_logo {
  width: 30%;
}
.header_div_menu {
  width: 70%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.linkAccueil {
  margin-left: 5%;
}
.linkAccueilText {
  font-size: 20px;
  font-weight: 300;
  color: white;
  text-decoration: none;
}
.linkAccueilText:hover {
  color: #ebaa30;
}

/* CSS DROPDOWN MENU */
.dropbtn {
  color: black;
  padding: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  padding-top: 10px;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #ebaa30;
}

.linkAccueil:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #ebaa30;
}

@media (max-width: 700px) {
  .header_main {
    flex-direction: column;
  }
  /* .logofleche{
    display: none !important; 
  } */
  .header_div_logo {
    padding: 0;
  }
  .header_logo{
    width: 100%;
  }
  .header_div_menu {
    flex-direction: column;
  }
.linkAccueil{
  margin-top: 5px;
}
  .dropdown-content {
    /* display: block; */
    position: relative;
    font-weight: 300;
  }
  .dropdown-content a {
    padding:5px;
  }
}
