html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body {
  background-image: url("/assets/img/background-home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-home-img {
  width: 100%;
  height: 100vh;
  text-align: center;
}
.home-img {
  width: 100%;
  vertical-align: top;
}

.div-menu {
  left: 35%;
  top: 10%;
  position: absolute;
  width: 30%;
}
.div-logo {
  padding-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}
.logo-img {
  width: 100%;
}
.div-linkAccueil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.linkAccueil {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}
.linkAccueilText {
  color: white;
  text-decoration: none;
}
.linkAccueilText:hover {
  color: #ebaa30;
}

.MessageRestauration{
  width: 33%;
  position: absolute;
  bottom: 0;
  left: 33%;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 20px;
}

@media (max-width: 1500px) {
  .div-menu {
    width: 50%;
    left: 25%;
  }
  .logo-img{
    width: 70%;
  }

}

@media (min-width: 2100px) {
  .linkAccueil{
    font-size: 30px;
  }
}

@media (max-width: 500px) {

  .div-menu{
    width: 90%;
    left: 5%;
  }
  
  .div-linkAccueil{
    flex-direction: column;
  }
  .MessageRestauration{
    font-size: 15px;
  }
}


