html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body {
  background-image: url('/assets/img/background-home.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.div-logo {
  margin-top: 10%;
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.logo-img {
  width: 80%;
}

.MessageRestauration{
  width: 33%;
  position: absolute;
  bottom: 0;
  left: 33%;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 20px;
}

@media (max-width: 700px) {

  .logo-img{
    width: 100%;
  }
  .div-logo{
    width: 70%;
    margin-top: 50%;
  }

}
@media (max-width: 500px) {
  .MessageRestauration{
    font-size: 15px;
  }
}


