html,
body {
    margin: 0;
    height: 100%;
    /*overflow: hidden;*/
}

body {
    background-image: url("/assets/img/background-home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.formContainer{

    background-color: rgba(0,0,0,0.7);
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    color: white;
    text-align: center;
}
