html,
body {
    margin: 0;
    height: 100%;
    /*overflow: hidden;*/
}

body {
    background-image: url("/assets/img/background-home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.title {
    text-align: center;
    font-size: 36px;
    color: white;
    margin-top: 5%;
}

.mainProduct {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;

}

.productDiv {
    width: 15%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-decoration: none;
    text-align: center;
    color: white;


    border: none;
    border-radius: 13px;
    background-color: rgba(0, 0, 0, 0.7);

}

.imgProduct {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 750px) {
    .mainProduct {
        flex-direction: column;
        align-items: center;
    }
    .productDiv{
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
    .imgProduct{
        width: 60%;
    }
}