{% extends 'header.html.twig' %}

{% block title %}HollyFx - MAKE UP ARTIST
{% endblock %}
{% block stylesheets %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{asset("assets/css/index.css")}}" rel="stylesheet">
	<link href="{{asset("assets/css/fontController.css")}}" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="div-container">
		<div class="div-logo">
				<img class="logo-img" src="{{asset("assets/img/HOLYFX-LOGO_blanc.svg")}}">
			</div>
		<div class="MessageRestauration">
			<p class="textFabric roboto">Site en cours de fabrication</p>
		</div>

	</div>


{% endblock %}
