{% extends 'header.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset("assets/css/contact.css") }}" rel="stylesheet">
{% endblock %}
{% block title %}HollyFx - Contact
{% endblock %}

{% block body %}
    <div class="divglobal">
        <div class="ruda divChild">
            <h1 class="divTitle">Autre demande</h1><br>
            <h2 class="">Contactez moi pour discuter ensemble de votre projet et établir un devis.</h2><br>
            {{ form(form) }}
        </div>
    </div>
    <div class="footer ruda">
        <div>
            <a href="tel:+33648491370">TEL : 06 48 49 13 70</a><br>
            <a href="mailto:contact@hollyfx-makeup.fr">EMAIL : contact@hollyfx-makeup.fr</a>
        </div>
        <div>
            <a href="{{ path("contact") }}">Mentions légales</a>
        </div>
        <div>
            <a href="https://www.instagram.com/hollyfx.makeup/" target="_blank"><i class="iconInsta fab fa-instagram" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="MessageRestauration">
        <p class="textFrabric roboto">Site en cours de fabrication</p>
    </div>

{% endblock %}
