{% extends 'header.html.twig' %}
{% block stylesheets %}
	<link href="{{asset("assets/css/galerie.css")}}" rel="stylesheet">
{% endblock %}
{% block title %}HollyFx - Création
{% endblock %}
{% block javascripts %}
	<script src="{{asset("assets/js/Creation.js")}}"></script>
{% endblock %}
{% block body %}
	<ul class="GalerieDiv">
		{% for img in images %}
			<li class="liGalerie">
				<img class="imgGalerie" src="{{asset(img.lien)}}" alt="">
			</li>

		{% endfor %}
	</ul>

{% endblock %}
